




.home-img {
  position: relative;
  justify-content: space-between;
  justify-content: space-between;
  background-image: image-url("home.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.top-line {
  position: absolute;
  background-color: #000000;
  opacity: 0.6;
  width: 100%;
  height: 80px;
}

.line-detail {
  display: flex;
  height: 80px;
}

.top-menu {
  margin-top: 23px;
  width: 100%;

}
.about {
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  margin-left: 15%;;
}

.contact {
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  margin-left: 10%;;
}

.language {
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  margin-left: 10%;;
}

.main-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.get-user {
  display: flex;
  flex-direction: column;
  width: 450px;
}

.user-top{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 35% 20% 15% 0;
  // background-color: #ffffff;
}

.login {
  text-decoration: none;
  padding: 15px 80px;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 50px;
  text-align: center;
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
  color: #000000;
}

.login-field {
  background-color: #ffffff;
}

.join-us {
  text-align: center;
  background-color: #ffffff;
  width: 330px;
  margin-top: 10px;
}
.sign-up-info {}

.sign-up {
  text-decoration: none;
  padding: 15px 80px;
  height: 50px;
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
  font-family: 'Quicksand', sans-serif;
  color: #000000;
}


.phrase-box {
  width: 60%;
  padding: 30% 0 0 30px;
}
.phrase{
  color: chocolate;
  font-size:100px;
  font-family: 'Anton', sans-serif;
}
.site-icon {
  width: auto;
  margin-top: 10px;
}