<footer class="comment-footer">

  

  <div class="comment-input">
  <%= form_with model: @comment, url: post_comments_path(@post.id), class: 'form-talk', local: true do |f| %>
    <%= f.text_field :text, class: 'form-message', placeholder: 'type a message' %>
    <%= f.submit 'SEND', class: 'form-submit' %>
  </div>
  <% end %>

 </footer> 