.memo-all {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.memo-top {
  height: 10vh;
}

.title-block{
  width: 70%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
}
.title-frame {
  width: 50vw;
  border: 1px solid #000000;
  padding: 5px auto;
  margin: 10px 10px 0 25px;
}
/* aaaa */
.memo-check{
  display: none;
}
.memo-label {
  background: #333;
  color: #fff;
  display: block;
  margin-bottom: 1px;
  padding: 20px;
}
.memo-content{
  border: 1px solid #333;
  height: 0;
  opacity: 0;
  padding: 0 10px;
  transition: .5s;
  visibility: hidden;
}
.memo-check:checked + .memo-label + .memo-content {
  height: 100%;
  opacity: 1;
  padding: 10px;
  visibility: visible;
}

.memo-right{
  width: 40%;
}
.memo-create {
  margin: 20px auto;
}

.memo-icon {

  width: 48px;
}


#memo_area {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.memo-text {
  margin-bottom: 10px;
}

.memo-btn {
  padding: 10px;
}

.memo-form-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}