<%= render 'shared/header' %>

  <div class="home-img" >
    <div class="user-top">

<%= link_to 'LOG IN', new_user_session_path, class: "login" %>
<%= link_to 'SIGN IN', new_user_registration_path, class: "sign-up" %>

    </div>
  </div>
