
.user-avatar {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 1px solid #ffffff;
  padding: 15px;
}



.avatar-image {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-name{
  font-weight: bold;
}
.user-info {
width: 30%;
margin: 15px;
}

.user-edit {
  text-align: center;
  text-decoration: none;
  background-color:  #ffd56bbb;
  color: #ffffff;
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
  border-radius: 30px;
  width: 10%;
  padding: 10px 30px;

}

.user-p-wapper{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.user-posts {
  display: flex;
  justify-content: space-around;
}

.post-imges{
  width: 21.3rem;
  height: 20rem;
  padding: 30px 50px 30px 0;
  text-align: center;
}

.post-line {
  width: 18rem;
  border-top:  3px solid #f0f0f0;
  margin-bottom: 8px;
}

.user-post-one {
  display: flex;
  flex-direction: column;
  border: 3px double #000000;
  margin: 80px 40px;
  width: calc((100% - 50px) / 4);
  padding: 0 25px 25px;
}

.user-post {
  width: calc((100% - 50px) / 4);
  text-decoration: none;
  color: #000000;
}

.detail-title{
  font-weight: bold;
}
.detail {
}